VITE_SUPABASE_URL=https://jazdcyvarbsmvhmxojce.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphemRjeXZhcmJzbXZobXhvamNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk3OTMxNzYsImV4cCI6MjEwNTM2OTE3Nn0.nG6xkRlHT-RDlTpRzhqb_77skuYcPotgRS-X4fIeKzU
